.avatar{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.cover{
    width: 200px;
    height: 150px;
    object-fit: cover;
}

.post-info-text{
    font-size: small;
    font-weight: bold;
}

.article-buttons{
    width: 130px;
    font-size: 1pt;
    padding: 0px;
}

.data-button{
    width: 100px;
    font-size: 1pt;
    padding: 0px;
}

.box-data{
    border: solid 1px lightgray;
    border-radius: 10px;
    padding: 10px
}

*{
    box-sizing: border-box;
}

.violet{
    color: blueviolet;
    font-weight: bolder;
}

.yellow {
    color: rgba(226, 213, 31, 0.893);
    font-weight: bolder;
}

.post-content{
    font-style: italic;
}

.content-container {
    margin: 0; 
    transition: margin 0.3s ease-in-out; 
    min-height: 100vh !important;
    display: flex;
    flex-direction: column;
  }

.footer{
    height: 250px;
    padding-top: 100px;
}

 




