.avatar{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.cover{
    width: 200px;
    height: 150px;
    object-fit: cover;
}

.post-info-text{
    font-size: small;
    font-weight: bold;
}

.post-content{
    font-style: italic;
}

.article-buttons{
    width: 130px;
    font-size: 1pt;
    padding: 0px;
}

.violet{
    color: blueviolet;
}