.logo{
    width: 100px;
}

.sticky{
    position: sticky !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.search{
  width: 160px !important;
  /*height: 20px !important;*/  
}

.avatar{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    object-fit: cover;
}

.violet{
    color: blueviolet;
    font-weight: bolder;
}

.yellow {
    color: rgba(226, 213, 31, 0.893);
    font-weight: bolder;
  }

  .button{
    width: 100px !important;
    font-size: small !important;
    margin-bottom: 5px;
  }

