@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&family=Outfit:wght@100;200;300;500;600;700;800;900&display=swap');


body {
  font-family: 'Chakra Petch', sans-serif;
  min-height: 100vh !important;
}


.bg-body-tertiary{
    background-color: white !important;
}

.dark-theme {
  background-color: #4f568d !important;
  color: #fff !important;
}
 